* {
    margin: 0;
    padding: 0;
  }
body {
    background-color: antiquewhite;
    background-image: url("../Resorces/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }