

.container-style {
  width: 489px;
  height: 636px;
  flex-shrink: 0;
  background: #FFF;
  border-radius: 50px;
  grid-gap: 10px;
  padding: 50px;
}

.title-style {
  width: 141px;
color: #000;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.username-style,
.password-style {
  width: 389px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #F0F0F0;
  border: none;
  padding-left: 13px;
}
.username-style::placeholder,.password-style::placeholder{
  left: 0px;
  color: #a8a8a8;
  font-family: Khand;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 20px;
}
.checkbox-style{
  border-radius: 1px;
  background: #F0F0F0;
  flex-shrink: 0;
  height: 40px;
}

.remember-me-style {  
  height: 20px;
  padding-left: 10px;
}

.remember-me-label {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-sIn-sUp-Style {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 84px;
  height: 84px;
  flex-shrink: 0;
  border: none;
}



.btn-hover:hover{
  transition: all 0.3s;
  transform: scale(1.1);
  /* background-color: hsl(0, 0%, 58%); */

}

.help-style,
.signUp-style {
  color: hsl(0, 0%, 70%);
  font-family: Khand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}