*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: hsl(0, 0%, 71%);
    display: flex;
    justify-content: center;
}
.container{
background-color:hsl(0, 1%, 82%) ;
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
width: 700px;
}
hr{
    color: black;
    width: 100%;
}
h1 h3{
    align-content: center;
}

.answers{
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 10px;
}
label{
    text-wrap:wrap ;
}
button{
    width: 200px;
}