html { height: 100%; }

.document-flex{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layers{
  display: flex;
  flex-direction: column;
  row-gap: 106px;
}

.layer1{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 34px;
}

.pos-main-header{
  justify-self: center;
}
.pos-secondary-header{
  justify-self: center;
}

.layer2{
  display: flex;
  grid-gap: 82px;
}

.pos-username-box,.pos-password-box,.pos-email-box{
display: flex;
justify-content: top;
align-items: center;
flex-direction: column;
row-gap: 21px;
position:static ;
}

